<%@ Master Language="C#" MasterPageFile="~/Materiales/MasterPage/Principal.Master" AutoEventWireup="true" CodeBehind="Entradas.master.cs" Inherits="Recursos_Materiales.Entradas.Entradas" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Contenedor" runat="server">
    <asp:ContentPlaceHolder ID="Contenedor" runat="server">

    </asp:ContentPlaceHolder>
</asp:Content>
